$primaryColor: rgba(255,255,255);
$secondaryColor: rgb(0, 69, 218);
$fade-white : #eee;
$white : #ccc;

#header-text{
 color: $primaryColor;
}

button{
    background-color: $secondaryColor;
    color: $primaryColor;
}

a{
  color: $fade-white;
  text-decoration: none;

  &:visited{
    color: $white;
    text-decoration: none;
    opacity: 0.42;
  }
  &:hover{
    opacity: 0.7;
    text-decoration: none;
  }
  &:active{
    opacity: 1;
    text-decoration: none;
  }
}
   
   #boton{
   margin-left: 35%;
   }
   
   #hero-header{
   margin-top:-50px; 
   background-image: url('../images/japan_cover.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat; 
   background-attachment: fixed; 
   background-size: 100% 100%; 
   }
   
   #historia{
   background-image: url('../images/historia.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat;
   background-size: 100% 100%; 
   }
   
   #politica{
   background-image: url('../images/politica.jpg');
   background-size: cover; 
   background-repeat: no-repeat; 
   background-size: 100% 100%; 
   }
   
   #cultura{
   background-image: url('../images/cultura.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat; 
   background-size: 100% 100%; 
   }
   
   #anime{
   margin-top:-50px; 
   background-image: url('../images/demon2.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat; 
   background-attachment: fixed; 
   background-size: 100% 100%; 
   }

   #animeBox{
    margin-top:-50px; 
    background-image: url('../images/demon.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    }
   
   #sushi{
   background-image: url('../images/sushi.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat; 
   background-size: 100% 100%; 
   }
   
   #ramen{
   background-image: url('../images/ramen2.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat;
   background-size: 100% 100%; 
   }
   
   #yakiroti{
   background-image: url('../images/yakitori.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat;
   background-size: 100% 100%; 
   }
   
   #fotoPrimaria{
   background-image: url('../images/monte.png.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat;
   }
   
   #fotoSecundaria{
   background-image: url('../images/La-isla-del-sol-naciente.jpg'); 
   background-size: cover; 
   background-repeat: no-repeat;
   }